---
# Installs MAAS
- name: Display choices
  ansible.builtin.debug:
    msg: 'Installing MAAS {{ maas_installation_type }} V. {{ maas_version }} on {{ ansible_facts["distribution"] }}'

- name: Install MAAS with Snap
  import_tasks: snap.yaml
  when: maas_installation_type|lower == 'snap'

- name: Install MAAS with Debian
  import_tasks: debian.yaml
  when: maas_installation_type|lower == 'deb'

- name: Initialise MAAS region
  ansible.builtin.command: maas init region --maas-url={{ maas_url }} --database-uri maas-test-db:///

- name: Define MAAS URL
  ansible.builtin.command: maas config | grep maas_url | cut -d "=" -f2
  register: maas_url
  when: maas_url | length == 0

# TODOD: Learn how to create a MAAS admin using flags
- name: Add an administrator to MAAS
  ansible.builtin.command: maas createadmin

# TODO: Ask for key/certificate location
# -name: Configure TLS
#   ansible.builtin.command: maas config-tls enable <key> <cert>
#   # TLS is available only in MAAS 3.2 or higher
#   when: enable_tls && maas_version is version("3.2", '>=')

- name: Migrate MAAS database
  ansible.builtin.command: maas migrate
