---
# Installs MAAS
- name: Display choices
  ansible.builtin.debug:
    msg: 'Installing MAAS {{ maas_installation_type }} V. {{ maas_version }} on {{ host_ip }}'

- name: Install "MAAS" from snap
  community.general.snap:
    name: maas
    channel: '{{ maas_version }}/{{ maas_snap_channel }}'
  when: maas_installation_type|lower == 'snap'

- name: Install "MAAS" from deb
  ansible.builtin.apt:
    name: "maas={{ maas_version }}"
    state: "{{ maas_deb_state }}"
  when: maas_installation_type|lower == 'deb' and '"maas-rack-controller" in role_names'

- name: Install deb dependencies
  ansible.builtin.apt:
    name: maas-region-api={{ maas_version }}
    state: "{{ maas_deb_state }}"
  when: maas_installation_type|lower == 'deb' and '"maas-rack-controller" not in role_names'

- name: Install maas-test-db
  community.general.snap:
    name: maas-test-db
  when: maas_postgres_uri == "maas-test-db:///"

- name: Initialise MAAS region
  ansible.builtin.command: maas init region --maas-url={{ maas_url | default(host_ip) }} --database-uri {{ maas_postgres_uri }}

- name: Add an administrator to MAAS
  ansible.builtin.command: maas createadmin \
   --username={{ admin_username }} --password={{ admin_password }} \
   --email={{ admin_email }} --ssh-import={{ admin_id }}

- name: Enable TLS
  ansible.builtin.include_role:
    name: common
    tasks_from: TLS
  when: enable_tls

- name: Migrate MAAS database
  ansible.builtin.command: maas migrate
