---
# Playbook to generate a MAAS region
- name: "Check if MAAS is installed"
  package_facts:
    manager: "auto"

- name: "Install MAAS"
  import_tasks: install_maas.yaml
  when: (maas_package_name not in ansible_facts.packages)

- name: "Update MAAS"
  import_tasks: update_maas.yaml
  when: (maas_package_name in ansible_facts.packages)

- name: Install MAAS metrics
  ansible.builtin.include_role:
    name: common
    tasks_from: metrics
  when: install_metrics is defined and install_metrics

- name: "Setup firewall"
  ansible.builtin.include_role:
    name: maas_firewall
    tasks_from: setup_firewall_rules