---
# Installs MAAS
- name: Display choices
  ansible.builtin.debug:
    msg: 'Updating MAAS {{ maas_installation_type }} to V. {{ maas_version }} on {{ ansible_facts["distribution"] }}'

- name: Update MAAS snap
  ansible.builtin.command: snap refresh --channel={{ maas_version }} maas
  when: maas_installation_type|lower == 'snap'

- name: Install deb dependencies
  ansible.builtin.apt:
    pkg:
      - maas={{ maas_version }}
      - maas-region-api={{ maas_version }}
    upgrade: true
    state: present
    update_cache: true
  when: maas_installation_type|lower == 'deb' and '"maas_rack_controller" not in role_names'
