---
- name: Update MAAS - Snap
  ansible.builtin.command: snap refresh --channel={{ maas_version }}/{{ maas_snap_channel }} maas
  when: maas_installation_type | lower == 'snap'

- name: Add MAAS apt Repository
  ansible.builtin.apt_repository:
    repo: "ppa:maas/{{ maas_version }}"
  when: maas_installation_type | lower == 'deb'

- name: Update MAAS - Deb
  ansible.builtin.apt:
    name:
      - "maas-region-api"
    state: latest
    update_cache: true
    cache_valid_time: 3600
  when: maas_installation_type | lower == 'deb' and '"maas_rack_controller" not in group_names'

- name: Migrate MAAS database
  ansible.builtin.command: "{{ 'maas' if maas_installation_type | lower == 'snap' else 'maas-region' }} migrate"
  changed_when: false
  run_once: true

- name: Refresh MAAS API
  ansible.builtin.command: "maas refresh"
  changed_when: false

- name: Wait For MAAS To Create Secret File
  ansible.builtin.wait_for:
    path: "{{ maas_secret_file }}"
    state: present

- name: Read MAAS Secret For Rack Controllers
  ansible.builtin.command: cat "{{ maas_secret_file }}"
  register: maas_rack_secret_tmp
  changed_when: false

- name: Save MAAS Secret
  ansible.builtin.set_fact:
    maas_rack_secret: "{{ maas_rack_secret_tmp.stdout }}"
    cacheable: true
  run_once: true
  delegate_to: "{{ item }}"
  delegate_facts: true
  with_items: "{{ groups['maas_rack_controller'] }}"
