---
# Playbook to generate a MAAS region
- name: Verify MAAS Version supported on the host OS
  ansible.builtin.include_role:
    name: common
    tasks_from: maas_supported_os
  when: maas_installation_type | lower != 'snap'

- name: "Check MAAS Url supplied by user or region controller setup"
  ansible.builtin.fail:
    msg: "MAAS Url not found"
  when: maas_url | length == 0
- name: Check installed packages
  ansible.builtin.package_facts:
    manager: "auto"


- name: Check installed snaps
  ansible.builtin.shell: "\
    set -o pipefail && \
    snap list | awk '{ print $1}'"
  args:
    executable: /bin/bash
  register: snaps_installed
  changed_when: false

- name: Determine MAAS installation status
  ansible.builtin.set_fact:
    maas_installed: "{{ (maas_installation_type | lower == 'snap' and 'maas' in snaps_installed.stdout.split('\n') )
                      or (maas_installation_type | lower == 'deb' and maas_package_name in ansible_facts.packages) }}"

- name: "Install MAAS rack controller"
  ansible.builtin.import_tasks: install_maas.yaml
  when: (not maas_installed)

- name: "Update MAAS rack controller"
  ansible.builtin.import_tasks: upgrade_maas.yaml
  when: (maas_installed)

- name: "Setup firewall"
  ansible.builtin.include_role:
    name: maas_firewall
    tasks_from: setup_firewall_rules
  when: enable_firewall
