---
- name: "Check MAAS Url supplied by user or region controller setup"
  ansible.builtin.fail:
    msg: "MAAS Url not found"
  when: maas_url | length == 0

- name: "Check if MAAS is installed"
  package_facts:
    manager: "auto"

- name: "Install MAAS rack controller"
  import_tasks: install_maas.yaml
  when: (maas_package_name not in ansible_facts.packages)

- name: "Update MAAS rack controller"
  import_tasks: upgrade_maas.yaml
  when: (maas_package_name in ansible_facts.packages)

- name: Install metrics
  ansible.builtin.include_role:
    name: common
    tasks_from: metrics
  when: install_metrics is defined and install_metrics

- name: "Setup firewall"
  ansible.builtin.include_role:
    name: maas_firewall
    tasks_from: setup_firewall_rules
