---
# firewall config for maas. First lock down everything except port 22
- name: Install persistent iptables package
  ansible.builtin.apt:
    name: "iptables-persistent"
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: Allow outgoing connection port 22 (ssh)
  ansible.builtin.iptables:
    chain: OUTPUT
    protocol: tcp
    destination_port: 22
    jump: ACCEPT

- name: Allow local traffic
  ansible.builtin.iptables:
    chain: INPUT
    in_interface: lo
    jump: ACCEPT

- name: Allow incoming port 22
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 22
    jump: ACCEPT

- name: Allow related and established connections
  ansible.builtin.iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT

- name: Allow port 53 tcp/udp
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 53
    jump: ACCEPT

- name: Allow port 53 tcp/udp
  ansible.builtin.iptables:
    chain: INPUT
    protocol: udp
    destination_port: 53
    jump: ACCEPT

- name: Open tcp ports
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "{{ item }}"
    jump: ACCEPT
  with_items: '{{ maas_open_tcp_ports | select() }}'
  when: maas_open_tcp_ports

- name: Open udp ports
  ansible.builtin.iptables:
    chain: INPUT
    protocol: udp
    destination_port: "{{ item }}"
    jump: ACCEPT
  with_items: "{{ maas_open_udp_ports }}"
  when: maas_open_udp_ports

- name: Log UDP dropped packages
  ansible.builtin.iptables:
    chain: INPUT
    protocol: udp
    log_prefix: "ipt denied: "
    log_level: debug
    jump: LOG

- name: Log TCP dropped packages
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    log_prefix: "ipt denied: "
    log_level: debug
    jump: LOG

- name: Set policy for INPUT chain to drop (otherwise)
  ansible.builtin.iptables:
    chain: INPUT
    policy: DROP

- name: Set policy for FORWARD chain to drop
  ansible.builtin.iptables:
    chain: FORWARD
    policy: DROP

- name: Save iptables rules
  ansible.builtin.shell: iptables-save > /etc/iptables/rules.v4
  changed_when: false
