---
- name: "Install pip for Configuration Dependencies"
  ansible.builtin.apt:
    name: python3-pip
    update_cache: true
    state: "{{ 'present' if maas_postgres_action|lower == 'install' else maas_postgres_action }}"

- name: "Install libpq-dev for Configuration"
  ansible.builtin.apt:
    name: libpq-dev
    update_cache: true # update cache still if pip was already installed
    state: "{{ 'present' if maas_postgres_action|lower == 'install' else maas_postgres_action }}"

- name: "Install psycopg2 For Configuration"
  ansible.builtin.pip:
    name: "psycopg2"
    version: "2.9.3"
    state: "{{ 'present' if maas_postgres_action|lower == 'install' else maas_postgres_action }}"

- name: "Install acl to become postgres user"
  ansible.builtin.apt:
    name: acl
    state: "{{ 'present' if maas_postgres_action|lower == 'install' else maas_postgres_action }}"

- name: "Install Postgres Deb"
  ansible.builtin.apt:
    name: "{{ maas_postgres_deb_name }}"
    update_cache: true # update cache still if previous packages are already installed
    state: "{{ 'present' if maas_postgres_action|lower == 'install' else maas_postgres_action }}"
  when: maas_postgres_installation_type|default(maas_installation_type) |lower == 'deb'

- name: "Install Postgres Snap"
  community.general.snap:
    name: "{{ maas_postgres_snap_name }}"
    channel: "{{ maas_postgres_snap_track }}/{{ maas_postgres_snap_channel }}"
    state: "{{ 'present' if maas_postgres_action|lower == 'install' else maas_postgres_action }}"
  when: maas_postgres_installation_type|default(maas_installation_type) |lower == 'snap'

- name: "Write pg_hba.conf for deb install"
  ansible.builtin.template:
    src: "pg_hba.conf.j2"
    dest: "{{ maas_postgres_config_dir }}pg_hba.conf"
    mode: 0640
    owner: postgres
    group: postgres
  when: maas_postgres_installation_type|default(maas_installation_type)|lower == 'deb'

- name: "Write pg_hba.conf for snap install"
  ansible.builtin.template:
    src: "pg_hba.conf.j2"
    dest: "{{ maas_postgres_config_dir }}pg_hba.conf"
    mode: 0644
    owner: snap_daemon
    group: snap_daemon
  when: (maas_postgres_installation_type|default(maas_installation_type)|lower == 'snap') and (maas_postgres_action|lower == 'absent')

- name: Delete pg_hba.conf"
  file:
    state: 'absent'
    path: "{{ maas_postgres_config_dir }}pg_hba.conf"
  when: maas_postgres_action|lower == 'absent'

- name: "Write postgresql.conf"
  ansible.builtin.include_tasks:
    file: write_postgres_config.yaml

- name: "Create MAAS Postgres User"
  community.postgresql.postgresql_user:
    name: "{{ maas_postgres_user }}"
    password: "{{ maas_postgres_password }}"
    login_user: "postgres"
    state: present
  become: true
  become_user: postgres
  when: (maas_postgres_installation_type|default(maas_installation_type)|lower == 'deb') and (maas_postgres_action|lower == 'absent')

- name: "Create MAAS Postgres Database"
  community.postgresql.postgresql_db:
    name: "{{ maas_postgres_database }}"
    state: "{{ 'present' if maas_postgres_action|lower == 'install' else maas_postgres_action }}"
    owner: "{{ maas_postgres_user }}"
  become: yes
  become_user: postgres
  when: maas_postgres_installation_type|default(maas_installation_type)|lower == 'deb'
