---
- name: "Install pip for Configuration Dependencies"
  ansible.builtin.apt:
    name: python3-pip
    update_cache: true

- name: "Install libpq-dev for Configuration"
  ansible.builtin.apt:
    name: libpq-dev
    update_cache: true # update cache still if pip was already installed
    state: "{{ 'present' if maas_postgres_action | lower == 'install' else maas_postgres_action }}"

- name: "Install psycopg2 For Configuration"
  ansible.builtin.pip:
    name: "psycopg2"
    version: "2.9.3"
    state: "{{ 'present' if maas_postgres_action | lower == 'install' else maas_postgres_action }}"

- name: "Install acl to become postgres user"
  ansible.builtin.apt:
    name: acl
    state: "{{ 'present' if maas_postgres_action | lower == 'install' else maas_postgres_action }}"

- name: "Install Postgres"
  ansible.builtin.apt:
    name: "{{ maas_postgres_deb_name }}"
    update_cache: true # update cache still if previous packages are already installed
    state: "{{ 'present' if maas_postgres_action | lower == 'install' else maas_postgres_action }}"

- name: "Write pg_hba.conf"
  ansible.builtin.template:
    src: "pg_hba.conf.j2"
    dest: "{{ maas_postgres_config_dir }}pg_hba.conf"
    mode: 0640
    owner: postgres
    group: postgres

- name: "Write postgresql.conf"
  ansible.builtin.include_tasks:
    file: write_postgres_config.yaml

- name: "Create MAAS Postgres User"
  community.postgresql.postgresql_user:
    name: "{{ maas_postgres_user }}"
    password: "{{ maas_postgres_password }}"
    login_user: "postgres"
    state: present
  become: true
  become_user: postgres

- name: "Create MAAS Postgres Database"
  community.postgresql.postgresql_db:
    name: "{{ maas_postgres_database }}"
    state: "{{ 'present' if maas_postgres_action | lower == 'install' else maas_postgres_action }}"
    owner: "{{ maas_postgres_user }}"
  become: yes
  become_user: postgres
