---
- name: "Install dependencies for PostgreSQL configuration"
  ansible.builtin.apt:
    name:
      - "python3-psycopg2"
      - "acl"
      - "{{ maas_postgres_deb_name }}"
    update_cache: true
    cache_valid_time: 3600
    state: "{{ 'present' if maas_postgres_action | lower == 'install' else maas_postgres_action }}"

- name: "Write pg_hba.conf"
  ansible.builtin.template:
    src: "pg_hba.conf.j2"
    dest: "{{ maas_postgres_config_dir }}pg_hba.conf"
    mode: 0640
    owner: postgres
    group: postgres

- name: "Write postgresql.conf"
  ansible.builtin.include_tasks:
    file: write_postgres_config.yaml

- name: "Create MAAS Postgres User"
  community.postgresql.postgresql_user:
    name: "{{ maas_postgres_user }}"
    password: "{{ maas_postgres_password }}"
    login_user: "postgres"
    state: present
  become: true
  become_user: postgres

- name: "Create MAAS Postgres Database"
  community.postgresql.postgresql_db:
    name: "{{ maas_postgres_database }}"
    state: "{{ 'present' if maas_postgres_action | lower == 'install' else maas_postgres_action }}"
    owner: "{{ maas_postgres_user }}"
  become: true
  become_user: postgres
