---
- name: "Install Postgres"
  ansible.builtin.include_tasks:
    file: install_postgres.yaml

- name: "Create Replication User"
  ansible.builtin.include_tasks:
    file: create_replication_user.yaml
  when: maas_ha_postgres_enabled and (inventory_hostname == groups["maas_postgres"][0])

- name: "Configure Postgres as a secondary"
  ansible.builtin.include_tasks:
    file: configure_postgres_secondary.yaml
  when: maas_ha_postgres_enabled|bool

- name: "Configure Postgres metrics agent"
  ansible.builtin.include_tasks:
    file: o11y_pg.yaml
  when: o11y_enable

- name: "Setup firewall"
  ansible.builtin.include_role:
    name: maas_firewall
    tasks_from: setup_firewall_rules
  when: ('maas_region_controller' not in group_names) and ('maas_pacemaker' not in group_names) and ( enable_firewall )
