standby_mode=on
trigger_file='{{ maas_postgres_trigger_file }}'
primary_conninfo='postgresql://{{ maas_postgres_replication_user }}:{{ maas_postgres_replication_password }}@{{ maas_postgres_primary_address }}/'
