global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

{% if (maas_proxy_bind_addr_v4 is defined) and (maas_proxy_bind_addr_v4) %}

frontend maas_region_controller-v4
    mode tcp
    bind {{ maas_proxy_bind_addr_v4 }}:{{ maas_proxy_port }}
    use_backend maas_region_controllers

{% endif %}

{% if (maas_proxy_bind_addr_v6 is defined) and (maas_proxy_bind_addr_v6) %}

frontend maas_region_controller-v6
    mode tcp
    bind {{ maas_proxy_bind_addr_v6 }}:{{ maas_proxy_port }}
    use_backend maas_region_controllers

{% endif %}

backend maas_region_controllers
    balance roundrobin
{% if maas_proxy_upstreams %}
    {% for upstream in maas_proxy_upstreams %}
    server {{ upstream['hostname'] }} {{ upstream['ip'] }}:{{ upstream['port'] }}
    {% endfor %}
{% else %}
    {% for upstream in groups['maas_region_controller'] %}
        {% if ('ansible_default_ipv4' in hostvars[upstream]) and ('address' in hostvars[upstream]['ansible_default_ipv4']) %}
    server {{ hostvars[upstream]['ansible_hostname'] }} {{ hostvars[upstream]['ansible_default_ipv4']['address'] }}:5240
        {% endif %}
        {% if ('ansible_default_ipv6' in hostvars[upstream]) and ('address' in hostvars[upstream]['ansible_default_ipv6']) %}
    server {{ hostvars[upstream]['ansible_hostname'] }} {{ hostvars[upstream]['ansible_default_ipv6']['address'] }}:5240
        {% endif %}
    {% endfor %}
{% endif %}
