---
- name: Create Temporary Unpack Directory
  ansible.builtin.file:
    path: /tmp/maas_backup/
    owner: root
    group: root
    mode: '0755'
    state: directory
  
- name: Copy backup Archive
  ansible.builtin.copy:
    src: "{{ maas_backup_download_path }}{{ maas_backup_file }}"
    dest: "/tmp/{{ maas_backup_file }}"

- name: Unpack Backup Archive
  ansible.builtin.unarchive:
    src: "/tmp/{{ maas_backup_file }}"
    dest: /tmp/maas_backup/
    remote_src: true

- name: Stop Region Controller
  ansible.builtin.systemd:
    name: maas-regiond.service
    state: stopped
  when: ('maas_region_controller' in group_names) and maas_install_deb | bool

- name: Stop Rack Controller
  ansible.builtin.systemd:
    name: maas-rackd.service
    state: stopped
  when: ('maas_rack_controller' in group_names) and maas_install_deb | bool

- name: Stop MAAS snap
  ansible.builtin.command: snap stop maas
  when: (('maas_region_controller' in group_names) or ('maas_rack_controller' in group_names)) and (not maas_install_deb | bool)

- name: Locate snap backup file
  ansible.builtin.find:
    paths: /tmp/maas_backup/
    recurse: false
    file_type: file
    patterns: '*.zip'
  register: snap_zip

- name: Import MAAS snap backup
  ansible.builtin.shell: "\
    set -o pipefail && \
    snap import-snapshot {{ snap_zip.files[0].path }} | awk 'NR==3' | awk '{print $1}'"
  args:
    executable: /bin/bash
  register: snap_id
  when: >
    (('maas_region_controller' in group_names) or ('maas_rack_controller' in group_names)) and
    ( not maas_install_deb | bool ) and ( snap_zip.files | length > 0 )

- name: Restore Snap data
  ansible.builtin.command: "snap restore {{ snap_id.stdout }}"
  when: >
    (('maas_region_controller' in group_names) or ('maas_rack_controller' in group_names)) and
    (not maas_install_deb | bool) and ( snap_zip.files | length > 0 )

- name: Restore Config
  ansible.builtin.command: "mv /tmp/maas_backup{{ maas_restore_config_path }} {{ maas_restore_config_path }}"
  when: (('maas_region_controller' in group_names) or ('maas_rack_controller' in group_names)) and (maas_install_deb | bool)

- name: Restore Runtime Data
  ansible.builtin.command: "mv /tmp/maas_backup{{ maas_restore_runtime_path }} {{ maas_restore_runtime_path }}"
  when: (('maas_region_controller' in group_names) or ('maas_rack_controller' in group_names)) and (maas_install_deb | bool)

- name: Start Region Controller
  ansible.builtin.systemd:
    name: maas-regiond.service
    state: started
  when: ('maas_region_controller' in group_names) and maas_install_deb | bool

- name: Start Rack Controller
  ansible.builtin.systemd:
    name: maas-rackd.service
    state: started
  when: ('maas_rack_controller' in group_names) and maas_install_deb | bool

- name: Start MAAS snap
  ansible.builtin.command: snap start maas
  when: (('maas_region_controller' in group_names) or ('maas_rack_controller' in group_names)) and (not maas_install_deb | bool)
