#!/bin/bash
set -ex

# remove existing resources
CIB=$(tempfile)
trap "rm -f -- '${CIB}'" EXIT
pcs cluster cib ${CIB}
pcs -f ${CIB} resource delete pgsql-pri-ip || true
pcs -f ${CIB} resource delete pgsqld || true
pcs cluster cib-push scope=configuration ${CIB}
rm -f -- "$CIB"

# create new resources
CIB=$(tempfile)
trap "rm -f -- '${CIB}'" EXIT

pcs cluster cib ${CIB}
pcs -f ${CIB} resource defaults update migration-threshold=5 || true
pcs -f ${CIB} resource defaults update resource-stickiness=10 || true

pcs -f ${CIB} resource create pgsql-pri-ip ocf:heartbeat:IPaddr2\
        ip="{{ maas_postgres_floating_ip }}"\
        cidr_netmask="{{ maas_postgres_floating_ip_prefix_len }}"\
        op monitor interval=10s

pcs -f ${CIB} resource create pgsqld ocf:heartbeat:pgsqlms\
        bindir="{{ maas_postgres_bin_dir }}"\
        pgdata="{{ maas_postgres_config_dir }}"\
        datadir="{{ maas_postgres_data_dir }}"\
        start_opts="-D {{ maas_postgres_data_dir }} -c config_file={{ maas_postgres_config_dir }}/postgresql.conf"\
        op start timeout=60s\
        op stop timeout=60s\
        op promote timeout=30s\
        op demote timeout=120s\
        op monitor interval=15s timeout=10s role="Master"\
        op monitor interval=16s timeout=10s role="Slave"\
        op notify timeout=60s\
        promotable notify=true

pcs cluster cib-push scope=configuration ${CIB}

pcs resource status pgsqld
pcs resource meta pgsqld master-max=1
pcs constraint colocation add pgsql-pri-ip with Master pgsqld-clone INFINITY
pcs constraint order promote pgsqld-clone then start pgsql-pri-ip symmetrical=false kind=Mandatory
pcs constraint order demote pgsqld-clone then stop pgsql-pri-ip symmetrical=false kind=Mandatory
pcs resource enable pgsql-pri-ip
pcs resource enable pgsqld
