{%- if (maas_postgres_ipv4 is defined) and (maas_postgres_ipv4 != "127.0.0.1") -%}
service pgsql_check_v4
{
    flags          = REUSE
    socket_type    = stream
    port           = {{ maas_pgsql_check_port|default(23267) }}
    bind           = {{ maas_postgres_ipv4 }}
    wait           = no
    user           = nobody
    server         = /opt/pgsql_check
    log_on_failure += USERID
{% if groups.get("maas_postgres_proxy") %}
    only_from      ={% for host in groups["maas_postgres_proxy"] %} {{ hostvars[host]['ansible_default_ipv4']['address'] if 'ansible_default_ipv4' in hostvars[host] else ''}}{% endfor %}
{% endif %}
    disable        = no
    per_source     = UNLIMITED
}
{% endif %}


{% if (maas_postgres_ipv6 is defined) and (maas_postgres_ipv6 != "::1") %}
service pgsql_check_v6
{
    flags          = REUSE
    socket_type    = stream
    port           = {{ maas_pgsql_check_port|default(23267) }}
    bind           = {{ maas_postgres_ipv6 }}
    wait           = no
    user           = nobody
    server         = /opt/pgsql_check
    log_on_failure += USERID
{% if groups.get("maas_postgres_proxy") %}
    only_from      ={% for host in groups["maas_postgres_proxy"] %} {{ hostvars[host]['ansible_default_ipv6']['address'] if 'ansible_default_ipv6' in hostvars[host] else ''}}{% endfor %}
{% endif %}
    disable        = no
    per_source     = UNLIMITED
}
{%- endif -%}
